---

galera-1-{{ cluster_name }}:
  image: agaveapi/ubuntu:pxc56
  volumes:
    - /mnt/data/ubuntu-pxc56/mysql-1-{{ cluster_name }}:/var/lib/mysql

galera-2-{{ cluster_name }}:
  image: agaveapi/ubuntu:pxc56
  volumes:
    - /mnt/data/ubuntu-pxc56/mysql-2-{{ cluster_name }}:/var/lib/mysql
